#wrapper
  #rightWrapper
    #orders.box
      &nbsp;
    #members.box
      &nbsp;
  #chatWithLegend.box
    #legend
      ul
        li Adding order: "++ name"
        li Adding order with price: "++ name;price"
        li Removing orders:  "--"
    #chat type your @llp email to enter (App is not working on FF4)
  #talkbox
    != partial("form")
