h1 #{title} 
#chat
!= partial("form")
#orders type your email to enter
#members
#legend
  p Legend
  ul
    li Adding order "++ name of the deal; price", e.g  "++ schabowy, kompot; 12zl"
    li Removing orders "--"
