#wrapper
  #rightWrapper
    #orders.box
      &nbsp;
    #members.box
      &nbsp;
  #chatWithLegend.box
    #legend
      ul
        li Adding order: "++ name"
        li Adding order with price: "++ name;price"
        li Removing orders:  "--"
    #chat type your email to enter
  #talkbox
    != partial("form")
