#wrapper
  #chatWithLegend
    #legend
      ul
        li Adding order: "++ name"
        li Adding order with price: "++ name;price"
        li Removing orders:  "--"
    #chat type your email to enter
  #talkbox
    != partial("form")
  #orders
  #members
