!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/bapp.js")
  body!= body
