body
  padding 50px
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color #00B7FF
.identifier
  display none

html 
  height 100%

body 
  color #dddddd
  font-family Helvetica, Arial
  font-size 14px
  line-height 16px
  height 100%
  background #C0DEED
  overflow-y hidden

.clearfix:after
  content "."
  display block
  height 0
  clear both
  visibility hidden
a img 
  border 0px

form 
  margin 0px
  padding 0px
  display inline

#wrapper 
  width 650px
  margin-left auto
  margin-right auto

.box 
  -moz-opacity 0.8
  -khtml-opacity 0.8
  opacity 0.8
  -moz-border-radius 5px
  -webkit-border-radius 5px
  -khtml-border-radius 5px
  background-color black
  border-radius 5px
  padding 10px
#chatWithLegend
  overflow-y auto
  overflow-x hidden
  color white
  height 400px
  width 60%
#rightWrapper
  width 35%
  float right
#orders
  margin-bottom 10px
  font-size 10px
#members
  margin-bottom 10px
  font-size 10px
#chat 
  width 68%
  font-size 12px
#legend
  width 18%
  float right
  font-size 11px
  color yellow
#legend ul
  padding 0
#talkbox 
  height 40px
  background-color white
  -moz-opacity 0.8
  -khtml-opacity 0.8
  opacity 0.8
  -moz-border-radius 5px
  -webkit-border-radius 5px
  -khtml-border-radius 5px
  border-radius 5px
  padding 20px
  margin-top 15px
#sendbutt 
  background-color #6A8D38
  -moz-border-radius 5px
  -webkit-border-radius 5px
  -khtml-border-radius 5px
  border-radius 5px
  color white
  padding 8px
  text-size 15px
  float right
  font-weight normal
  width 50px
  text-align center
  cursor pointer

#sendbutthover 
  background-color #204F28

#talkbox input 
  height 25px
  padding 4px
  font-size 17px
  color #404040

#name 
  width 150px

#comment 
  width 395px

#controls 
  color #004972
  font-size 10px

#controls a 
  color #004972

